Package: com.kabiroberai.libswift🔢
Name: libswift🔢
Section: Developer
Architecture: iphoneos-arm
Description: libswift🔢: the swift iOS toolchain.
Author: Apple <code-owners@swift.org>
Maintainer: Kabir Oberai <something@example.com>
