Package: org.swift.libswift
Name: libswift (stable)
Section: Development
Architecture: iphoneos-arm
Description: Swift runtime for iOS
Author: Kabir Oberai <oberai.kabir+libswift@gmail.com>
Maintainer: Kabir Oberai <oberai.kabir+libswift@gmail.com>
Depends: firmware (>= 7.0)
Version: 5.7
