Package: com.modmyi.libswift4
Name: libswift4
Section: Development
Architecture: iphoneos-arm
Description: libswift dylibs for iOS
Author: Kabir Oberai <oberai.kabir+libswift@gmail.com>
Maintainer: Kabir Oberai <oberai.kabir+libswift@gmail.com>
Depends: firmware (>= 7.0)
